footer {
  display: flex;
  justify-content: space-around;
  height: 300px;
  padding-top: 3%;
}

footer img {
  width: 15%;
}

footer a {
  text-decoration: none;
}

a:link {
  color: black;
}

a:visited {
  color: green;
}

a:hover {
  color: yellow;
}
