footer {
  display: flex;
  justify-content: ;
  height: 300px;
  padding-top: 3%;
}

footer img {
  /* width: 15%; */
}

footer a {
  text-decoration: none;
}

a:link {
  color: black;
}

a:visited {
  color: green;
}

a:hover {
  color: yellow;
}

@media screen and (max-width: 768px) {
  footer img {
    display: none;
  }
}
