footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 300px;
  padding-top: 3%;
}

footer img {
  max-width: 25%;
  
}

footer a {
  text-decoration: none;
}

#info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

a:link {
  color: black;
}

a:visited {
  color: green;
}

a:hover {
  color: yellow;
}

@media screen and (max-width: 768px) {
  footer img {
    display: none;
  }
}
