section#hero {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
  height: 20rem;
  background-color: #658c58;
  padding-top: 2%;
  padding-bottom: 2%;
}

#hero-left {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: 10%;
}

#hero h1 {
  color: yellow;
}

#hero-right img {
  border-radius: 20%;
  margin-left: 40%;
  width: 17.5rem;
  height: 20rem;
  position: relative;
  top: 10px;
  left: 450px;
}

@media screen and (max-width: 768px) {
  #hero-left {
    width: 100%;
  }

  #hero-right {
    display: none;
  }
}
