section#hero {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
  background-color: #658c58;
  padding-top: 2%;
  padding-bottom: 2%;
}

#hero-left {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  margin-left: 10%;
}

#hero h1 {
  color: yellow;
}

#hero-right img {
  border-radius: 20%;
  margin-left: 40%;
  max-width: 40%;
}
