section#highlights {
  display: flex;
  flex-direction: column;
  margin-top: 3%;
}

#specials {
  display: flex;
  justify-content: space-between;
  margin-left: 8%;
  margin-right: 6%;
  margin-bottom: 2%;
}

#items {
  display: flex;
  gap: 10%;
  width: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

.item {
  display: flex;
  flex-direction: column;
  background-color: #f0e491;
  border-radius: 5%;
  overflow: hidden;
  height: 500px;
  width: 25rem;
}

.item img {
  width: 100%;
  height: 15rem;
  object-fit: fill;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  display: block;
}

.item .name-price {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.item p {
  margin-left: 2%;
  margin-right: 2%;
}

@media screen and (max-width: 768px) {
  #items {
    flex-direction: column;
    max-height: 1000px;
    gap: 5%;
  }

  .item {
    height: 150px;
    flex-direction: row;
    margin-bottom: 5%;
  }

  .item img {
    height: 100%;
  }

  .item section {
    padding-bottom: 5%;
  }

  section p {
    margin-bottom: 0%;
  }
}
