section#highlights {
  display: flex;
  flex-direction: column;
  margin-top: 3%;
}

#specials {
  display: flex;
  justify-content: space-between;
  margin-left: 8%;
  margin-right: 6%;
  margin-bottom: 2%;
}

#items {
  display: flex;
  gap: 10%;
  margin-left: 20%;
  margin-right: 20%;
}

.item {
  display: flex;
  flex-direction: column;
  background-color: #f0e491;
  border-radius: 5%;
  overflow: hidden;
  height: 500px;
}

.item img {
  width: 100%;
  height: 40%;
  object-fit: fill;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  display: block;
}

.item .name-price {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.item p {
  margin-left: 2%;
  margin-right: 2%;
}
