nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  min-width: 100px;
  max-width: 40%;
  margin-left: 10%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin-right: 4%;
}

nav a {
  margin: 0 10px;
}

#nav a {
  text-decoration: none;
}

a:link {
  color: black;
}

a:visited {
  color: #658C58;
}

a:hover {
  color: yellow;
}
