nav {
  display: flex;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  min-width: 100px;
  max-width: 60%;
  margin-left: 10%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin-right: 4%;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
}

a:link {
  color: black;
}

a:visited {
  color: #658c58;
}

a:hover {
  color: yellow;
}

#menu-icon {
  display: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px 0;
}

#nav-links {
  list-style: none;
  display: flex;
  align-items: center;
}

#nav-links.visible {
  flex-direction: column;
  position: absolute;
  top: 40px;
  right: 0;
  width: 100%;
  background-color: #495e57;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  #menu-icon {
    display: block;
  }

  #nav-links {
    display: none;
  }

  #nav-links.visible {
    display: flex;
    background: #333333;
    z-index: 1000;
    padding: 20px 0;
  }

  #navbar {
    background: #fff;
    padding: 10px 8%;
  }

  nav ul li a {
    color: #fff;
  }

  .bar {
    background: #333333;
  }
}
